.spacer {
    flex: 1 1 auto;
}

.linkList {
    button { 
        font-size: 20px;
    }    
    button:not(:last-child) {
        border-right: solid 1px #fff;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }
}

.appName {
    font-size: xx-large;
}