form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    mat-form-field {
        width: 100%;
    }
}

.mat-mdc-form-field-hint {
    color: red;
}

.chapterRow,.authorRow {
    display: flex;
    span {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.authorRow {
    .mat-mdc-form-field {
        flex-grow: 1;
    }
}

.authorForm {
    width: 100%;
}